<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Clínica</h1>
    <nav class="menu">
        <a class="botao" href="/pacientes">Pacientes</a>
        <a class="botao" href="/medicos">Médicos</a>
        <a class="botao" href="/consultas">Consultas</a>
    </nav>
</body>
</html>